layout {

    focus-ring {
        active-color   "#f8b898"
        inactive-color "#171210"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f8b898"
        inactive-color "#171210"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f8b898"
        inactive-color "#bc8466"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f8b89880"
    }
}

recent-windows {
    highlight {
        active-color "#f8b898"
        urgent-color "#ffb4ab"
    }
}
